@import "@roninnetwork/walletgo/dist/base.css";
@import "@roninnetwork/walletgo/dist/theme/default.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  cursor: url("data:image/webp;base64,UklGRkICAABXRUJQVlA4WAoAAAAQAAAAIAAAKwAAQUxQSOEAAAABZ6AmkiQ1e5cyPAv4+uwjIsDcqeOh+9cDFMm2VTvnvY/XfdY/DC5RkRzF6PHU/yMIXR0YALOkq8OSkzOrC7vqjSCi/xNAgxsbaQoe/BMx6aAbEREd9GGJCvl1mHTAn0N0gHgVZtKQaEwUZtKQaEwUZtKQaEwUZtKQKGwiAToBEwnohUw38t6oIYYh4RQ0ENE/kCP6xX6wQyBNtHb7/34akCFaYWb+8VzERLPWo6cZE9WtXdcBR0TUtzDWuv4rIu9NXrLs5d27t7MGcyd5B9kd+wquEgXOMfN4TKGF/tG2iJwAVlA4IDoBAADQBwCdASohACwAPpE6mUiloyKhLjQLMLASCWkAzcdrk2RSK02LhDV+XqamtL6V4km+gcdYvBdIRDjbWKPxkePF63gLCUsIgAD+987Z6QcmzQTfIK9+/EvI/6W/+19iUb1IJtQhbHW26ZndrVJ9IG6Jx5vaeK3dZuM3y+feoFE/8egBTQjLJSWjl45LIeZ1WrLIpvvb2RaPVO3T1+L3/7l9vUSBtztHdE4AJfMdpxdfJ/FCD+6glHxswi+TSjHvzTKZNaY72mK3SYwb3k5/vGO0zb9QWjv1FZLzr39kX54dxMTHq0Vo+DkVBIUa9hDckMHftzDN0aaKThU6WfqkKLkwdCgWljOwKvNnSi7wXbUH9tVV6NMOJBc90SjUl/JP88rJ/azKyy3fkRQLLqZi8jGiKKzYTnauEAAAAA=="),
    auto;

  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  user-select: none;

  --wg-z-dialog: 1000000;
  --wg-z-overlay: 1000000;
}

*:hover {
  cursor: url("data:image/webp;base64,UklGRkICAABXRUJQVlA4WAoAAAAQAAAAIAAAKwAAQUxQSOEAAAABZ6AmkiQ1e5cyPAv4+uwjIsDcqeOh+9cDFMm2VTvnvY/XfdY/DC5RkRzF6PHU/yMIXR0YALOkq8OSkzOrC7vqjSCi/xNAgxsbaQoe/BMx6aAbEREd9GGJCvl1mHTAn0N0gHgVZtKQaEwUZtKQaEwUZtKQaEwUZtKQKGwiAToBEwnohUw38t6oIYYh4RQ0ENE/kCP6xX6wQyBNtHb7/34akCFaYWb+8VzERLPWo6cZE9WtXdcBR0TUtzDWuv4rIu9NXrLs5d27t7MGcyd5B9kd+wquEgXOMfN4TKGF/tG2iJwAVlA4IDoBAADQBwCdASohACwAPpE6mUiloyKhLjQLMLASCWkAzcdrk2RSK02LhDV+XqamtL6V4km+gcdYvBdIRDjbWKPxkePF63gLCUsIgAD+987Z6QcmzQTfIK9+/EvI/6W/+19iUb1IJtQhbHW26ZndrVJ9IG6Jx5vaeK3dZuM3y+feoFE/8egBTQjLJSWjl45LIeZ1WrLIpvvb2RaPVO3T1+L3/7l9vUSBtztHdE4AJfMdpxdfJ/FCD+6glHxswi+TSjHvzTKZNaY72mK3SYwb3k5/vGO0zb9QWjv1FZLzr39kX54dxMTHq0Vo+DkVBIUa9hDckMHftzDN0aaKThU6WfqkKLkwdCgWljOwKvNnSi7wXbUH9tVV6NMOJBc90SjUl/JP88rJ/azKyy3fkRQLLqZi8jGiKKzYTnauEAAAAA=="),
    auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  button {
    outline: none;
  }

  button:active {
    outline: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .spritesheet-element {
    background: url("/sprites/spritesheet-e.png");
  }
}

.wlg-dialog-mask {
  z-index: 1000000;
}

.wlg-dialog-wrap {
  z-index: 1000001;
}

footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #b1c3d9 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  font-size: 14px;
  line-height: 14px;
  height: 200px;
}

footer::before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: #000000;
  opacity: 0.2;
}

.annotation {
  transition: all 0.5s ease-in-out;
  box-shadow: inset 0 0 0 0.09px white;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 8px;
  font-weight: 300;
  background: indianred;
  color: white;
  padding: 2px 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.shine-overlay {
  position: relative;
  overflow: hidden;
}

.shine {
  display: block;
}

.shine {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.8)),
    to(rgba(255, 255, 255, 0))
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
  z-index: 3;
  opacity: 0;
  transform: skew(30deg);
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    left: -100%;
    opacity: 0;
  }
  50% {
    left: 50%;
    opacity: 0.8;
  }
  100% {
    left: 200%;
    opacity: 0;
  }
}
