@import "@roninnetwork/walletgo/dist/base.css";
@import "@roninnetwork/walletgo/dist/theme/default.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  cursor: url("data:image/webp;base64,UklGRkICAABXRUJQVlA4WAoAAAAQAAAAIAAAKwAAQUxQSOEAAAABZ6AmkiQ1e5cyPAv4+uwjIsDcqeOh+9cDFMm2VTvnvY/XfdY/DC5RkRzF6PHU/yMIXR0YALOkq8OSkzOrC7vqjSCi/xNAgxsbaQoe/BMx6aAbEREd9GGJCvl1mHTAn0N0gHgVZtKQaEwUZtKQaEwUZtKQaEwUZtKQKGwiAToBEwnohUw38t6oIYYh4RQ0ENE/kCP6xX6wQyBNtHb7/34akCFaYWb+8VzERLPWo6cZE9WtXdcBR0TUtzDWuv4rIu9NXrLs5d27t7MGcyd5B9kd+wquEgXOMfN4TKGF/tG2iJwAVlA4IDoBAADQBwCdASohACwAPpE6mUiloyKhLjQLMLASCWkAzcdrk2RSK02LhDV+XqamtL6V4km+gcdYvBdIRDjbWKPxkePF63gLCUsIgAD+987Z6QcmzQTfIK9+/EvI/6W/+19iUb1IJtQhbHW26ZndrVJ9IG6Jx5vaeK3dZuM3y+feoFE/8egBTQjLJSWjl45LIeZ1WrLIpvvb2RaPVO3T1+L3/7l9vUSBtztHdE4AJfMdpxdfJ/FCD+6glHxswi+TSjHvzTKZNaY72mK3SYwb3k5/vGO0zb9QWjv1FZLzr39kX54dxMTHq0Vo+DkVBIUa9hDckMHftzDN0aaKThU6WfqkKLkwdCgWljOwKvNnSi7wXbUH9tVV6NMOJBc90SjUl/JP88rJ/azKyy3fkRQLLqZi8jGiKKzYTnauEAAAAA=="),
    auto;

  scrollbar-width: none;

  --wg-z-dialog: 1000000;
  --wg-z-overlay: 1000000;

  user-select: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  button {
    outline: none;
  }

  button:active {
    outline: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .spritesheet-element {
    background: url("/spritesheet-element.png");
  }

  .spritesheet-icon {
    background: url("/spritesheet-icon.png");
  }
}

.wlg-dialog-mask {
  z-index: 1000000;
}

.wlg-dialog-wrap {
  z-index: 1000001;
}
